.comments-wrapper {
  background-color: #69696923;
  margin: 0 !important;
}

.comments {
  position: relative;
  border-bottom: 0.1px solid #69696923;
  padding: 1rem 1rem 0.2rem 2rem;
}

.comment-details {
  font-size: 0.75rem;
  color: #52515198;
}

.comment-content {
  margin-left: 1.25rem !important;
}
